<h2>管理者ログイン</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<table class="table">
  <tr>
  <div class="field">
    <th><%= f.label :email,"メールアドレス" %></th>
    <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
  </div>
  </tr>
  <tr>
  <div class="field">
    <th><%= f.label :password,"パスワード" %></th>
    <td><%= f.password_field :password, autocomplete: "current-password" %></td>
  </div>
  </tr>
  </table>
  <div class="text-center">
  <div class="actions">
    <%= f.submit "ログイン", class: "btn btn btn-primary btn-sm" %>
  </div>
  </div>
<% end %>

<%= render "admin/shared/links" %>
