<h1>注文情報入力</h1>
<div class="d-flex flex-column">
 <div>
支払方法
<%= form_with model: @order, url:confirm_public_orders_path do |f| %>
 <div>
  <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
  <%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card] %>
 </div>
 <div>
  <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
  <%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer]%>
 </div>
 </div>


お届け先
 <div>
  <div>
   <%= f.radio_button :select_address,0 %>ご自身の住所
   <div>
   <%= current_customer.postal_code %>
   <%= current_customer.address %> 
   </div>
   <div>
   <%= current_customer.last_name+current_customer.first_name %>  
   </div>
  </div>
  <div>
   <%= f.radio_button :select_address,1 %>登録先住所から選択
   <div><%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :address_display) %></div>
  </div>
  <div>
   <%= f.radio_button :select_address,2 %>新しいお届け先
   <table>
   <tr>
    <td>郵便番号(ハイフンなし)</td>
    <td><%= f.text_field :shipping_postal_code %></td>
   </tr>
   <tr>
    <td>住所</td>
    <td><%= f.text_field :shipping_address %></td>
   </tr>
   <tr>
    <td>宛名</td>
    <td><%= f.text_field :shipping_name %></td>
   </tr>
   </table>
  </div>
 </div>
</div>

<%= f.submit "確認画面へ進む" ,class: "btn btn-primary btn-sm" %>
 <%= f.hidden_field :customer_id, :value => current_customer.id %>
<% end %>