<%= form_with model: @cart_item, url: public_cart_items_path, method: :post do |f| %>
<table class="table">
<tbody>
<tr>
 <td rowspan="4"><%= image_tag @item.get_image %></td>
</tr>
<tr>
 <td><%= @item.name %></td>
</tr>
<tr>
 <td><%= @item.introduction %></td>
</tr>
<tr>
 <td>￥<%= @item.price %>(税込)</td>
</tr>
<tr>
 <td></td>
 <td>
  <%= f.select :amount, *[1..10] %>
  <%= f.submit "カートに入れる", class: "btn btn btn-success btn-sm" %>
 </td>
</tr>
</tbody>
</table>
<%= f.hidden_field :item_id, :value => @item.id %>
<% end %>